header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  height: 80px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav span a {
  color: black;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

body {
  margin: 0;
}
header nav {
  padding-right: 50px;
}
