header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  height: 80px;
  z-index: 5;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 10px;
}

nav span a {
  color: black;
  padding: 20px 10px;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header nav {
  padding-right: 50px;
}

.main_content {
  display: flex;
  padding-top: 110px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.main_story .headline_image {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
}

.headline_image {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.earth_backwards {
  background-image: url("../images/img-story-2.png");
}

.erase_memory {
  background-image: url("../images/img-story-3.png");
}

.cats_control {
  background-image: url("../images/cat.png");
}
